/* color 속성 */
#color-ul > li {
    font-size: 24px;
    font-weight: bold;
}
#color-ul>li:first-child{ color: red;}
#color-ul>li:nth-child(2){ color: #f92;}
#color-ul>li:nth-child(3){ color: rgb(140,3,200);}
#color-ul>li:nth-child(4){ color: rgba(100,255,0,0.7);}
#color-ul>li:nth-child(5){ 
    /* 색조 : 0(red), 120(green), 240(blue)
       밝기 : 50% 기준 */
    color: hsl(0,100%,80%);
}
#color-ul>li:nth-child(6){ color: hsla(240,90%,50%,0.3);}

/* text-decoration */
#deco-ul > li:nth-child(1) { text-decoration: underline;}
#deco-ul > li:nth-child(2) { text-decoration: line-through;}
#deco-ul > li:nth-child(3) { text-decoration: overline;}
#deco-ul > li:nth-child(4) >a {text-decoration: none; color: black;}

/* text-align */
#align-test> p:first-child {text-align: left;}
#align-test> p:nth-child(2) {text-align: right;}
#align-test> p:nth-child(3) {text-align: center;}
#align-test> p:nth-child(4) {text-align: justify;} /*양쪽 정렬*/
#align-test> p:nth-child(5)>span{
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    background-color: darksalmon;
}
#align-test> p:nth-child(5) {text-align: center;}

/* line-height */
#line-test > p:first-child {
    line-height: 10px;
}
#line-test > p:last-child {
    line-height: 30px;
}

/* letter-spacing */
/* 음수 값을 지정해서 글자 사이의 간격을 줄일 때 많이 사용 */
#letter-test{
    letter-spacing: -1px;
}









